<div class="md-copyright">
  <div class="md-copyright__highlight">
    <span class="footer-copyright"
      >©
      <span
        class="footer-years"
        data-start-year="{{ config.extra.start_year or '' }}"
        >{{ config.extra.start_year or '' }}</span
      >
      <strong>{{ config.extra.footer_name or config.site_name }}</strong>. All
      rights reserved.</span
    >
    {% for tagline in config.extra.footer_taglines or [] %}
    <span class="footer-tagline">{{ tagline }}</span>
    {% endfor %}
  </div>
</div>
